* {
    padding: 0% ;
    margin: 0% ;
    background-image: url(images/dark-backgrounds-15-cool-hd-background-and-wallpaper.jpg);
    font-family: 'Notable', sans-serif;
}
div {
    position: absolute ;
    top: 50% ;
    left: 50% ;
    transform: translate(-50%,-50%);
    font-size: 50px ;
    border: 1px solid white;
    padding: 5px ;
    color: white ;
    background: #37a000 ;
}