#image {
    position: absolute;
    left: 40% ;
    
}
#image img {
    width: 200px ;
    height: 200px ;
    border-radius: 50px ;
}
#username {
    position: absolute;
    top: 59%;
    left: 42%;
    font-size: 30px ;
}
#email {
    position: absolute;
    top: 66%;
    left: 42%;
    font-size: 20px ;
}
#followersCount {   
    position: absolute;
    top: 71%;
    left: 42%;
    font-size: 20px ;
}
#reposCount {
    position: absolute;
    top: 76%;
    left: 42%;
    font-size: 20px ;
}
